<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  id="org.pluginporo.mqtt_plugin" 
  version="0.0.1">

  <name>MQTT Plugin</name>
  <description>MQTT Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova, mqtt</keywords>

  <js-module src="www/mqtt_plugin.js" name="MqttPlugin">
    <clobbers target="navigator.mqtt_plugin" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.READ_LOGS" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.VIBRATE" />
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MqttPlugin">
        <param name="android-package" value="org.pluginporo.mqtt.MqttPlugin" />
      </feature>
    </config-file>

    <source-file src="src/android/libs/paho-mqtt-client-1.0.1.jar" target-dir="libs" />
    
    <source-file src="src/android/MqttPlugin.java" target-dir="src/org/pluginporo/mqtt" />

  </platform>

</plugin>